[grid-actions] {
    width : 100% !important;
    border-radius: 0 !important;
    border-bottom: none !important;
    background-color: rgba(243, 243, 249, 0.49) !important;
    min-width: 360px !important;  
    [inner-grid-actions]{
        margin-top: 10px !important;
        margin-left: 17px !important;
        [input-field] {
            display: inline-block !important;
            width: 100% !important;
            input {
                width: 100% !important;
            }
        }
    }  
}

[display-flex] {
    display: flex;
    flex-direction: column;
}

[full-width] {
    width: 100%;
}

[minus-margin] {
    margin-top: -15px !important;
}

[zero-margin-top] {
    margin-top: 0px !important;
} 

[one-margin-left] {
    margin-left: 0.5rem !important;
}

[float-right] {
    float : right !important;
}

[float-left] {
    float: left !important;
}

[countlabel-heading] {
    height: 20px !important;
}

[countlabel]{
    color: #009775 !important;
    font-size: 12 !important;
}

[input-label] {
    color:#012834;
    --font-family : Source Sans Pro Bold;
    font-size: 0.938em;
    font-weight: bold;
    letter-spacing: -0.22px;
    line-height: 18px;
    padding-left: 2px;
    letter-spacing: 0.68px;
    text-align: left;
    padding-bottom: 3px !important;
}

[h1-headings] {
    color:#000A12;
    --font-family : Source Sans Pro Bold !important;
    font-size: 34px;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    line-height: 42px !important;
    
}

[h1-headings-regular-text] {
    color:#012834;
    --font-family : Source Sans Pro !important;
    font-size: 24px !important;    
    letter-spacing: normal !important;
    line-height: 42px !important;    
}

[grid-with-footer] .ag-root-wrapper {
    border-radius: 0px !important;
}

//buttons

[txt-btn]{
    height: 24px;
    box-sizing: border-box;
    box-shadow: none;
    background: transparent;
    ion-label {
        color: #ff1f3e;
        height: 18px;
        font-size: 0.975em;
        line-height: 18px;
        text-transform: initial;
        ion-icon {
            padding-right: 5px;
            color: #ff1f3e !important;
            vertical-align: middle;
        }
    }
}

[txt-btn][blue]{
    background: transparent;
    ion-label {
        color: #1b1b6f;
        ion-icon {
            color: #1b1b6f !important;
        }
    }
}

[txt-btn][lightblue]{
    --background: transparent;
    ion-label {
        color: #1b1b6f;
        opacity: 0.5;
        ion-icon {
            color: #1b1b6f !important;
        }
    }
}


[font-bold] {
    font-weight:bold !important;
}
// Grid
.ag-theme-balham {
    background-color: transparent;
    margin-top: -30px;
}
  
.ag-paging-panel > span {
    color: black !important;
}

// Header Section
.ag-header {
    background-color: rgba(243, 243, 249, 0.49) !important;
    border-top: 1px solid #ebebeb !important;
    border-bottom: 3px solid #000000 !important;
    margin-top: 5px !important;
    .ag-header-cell-text {
        color: #000000 !important;
        --font-family: "Source Sans Pro";
        white-space: normal !important;
        overflow: visible !important;
        font-size: 0.875em !important;
        line-height: 15px;

    }
}

// Pagination panel
.ag-paging-panel {    
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;    
    border-top: none !important;    
}

.ag-root-wrapper {
    position: relative !important;
}

.ag-root-wrapper-body {
    margin-top: 30px;
}

.ag-body-viewport {
    overflow-y: scroll !important;
    height: 300px !important;
}