<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>Grid and Global Conponents</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        <ion-grid>
            <div>
                <app-grid-global full-width [actionOptions]="actionOptions" (recordsPerPage)="recordsPerPageGrid($event)">
                </app-grid-global>
                <ion-row one-margin-left countlabel-heading>
                    <ion-label input-label countlabel>
                        {{resultLength}} results
                    </ion-label>
                </ion-row>
                <div>
                    <ag-grid-angular #agGrid style="width:1450px; height: 500px;" id="myGrid" class="ag-theme-alpine" 
                        [defaultColDef] = "defaultColDef" [icons] = "icons"
                        [sideBar]="sideBar" [rowData]="rowData" [columnDefs]="columnDefs" rowSelection="multiple"
                        [enableRangeSelection]="true" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
                        (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
            
        </ion-grid>
        
    </ion-content>
</ion-app>